<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509361815313-9mnr4snphfcbcvuq4qn68gduam91cd0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509361815313-9mnr4snphfcbcvuq4qn68gduam91cd0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAcgut2-5flmw2Z-j67lEKxjWp61ANIwDE</string>
	<key>GCM_SENDER_ID</key>
	<string>509361815313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solodou.app</string>
	<key>PROJECT_ID</key>
	<string>fir-solodou</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-solodou.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509361815313:ios:395f2552a0be4a248cd6b0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-solodou.firebaseio.com</string>
</dict>
</plist>